<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styleCreate.css">
</head>
<body>
    <header>
        <div class="nav">
            <img class="pop-image" src="/images/pop-neon-2.jpeg" alt="">  
        <nav>
    
            <div class="menu">
                <div class="links">
                    <a href="/">Home</a>
                    <a href="/movies/new" class="active">Novedades</a>
                    <a href="/movies/create">Crear Película</a>
                    <a href="/movies/recommended">Top 8</a>
                    <a href="/movies/newPerformance">Nuevas Actuaciones</a>
                </div>
            </div>
    
        </nav>
        </div>
    
        </header>

    <h2>Crear Película</h2>

    <form method="POST" action="/movies/create">
    <label for="title">Título:</label> <input type="text" name="title"><br><br>
    <label for="rating">Rating:</label> <input type="text" name="rating"><br><br>
    <label for="awards">Premios:</label> <input type="text" name="awards"><br><br>
    <label for="length">Duración:</label> <input type="text" name="length"><br><br>
    <label for="release_date">Fecha de estreno:</label> <input type="date" name="release_date"><br><br>
    <label for="genre_id">Géneros:</label>
    <select name="genre_id">
    
    <% genres.forEach(genre => { %>
        <div class="generos">
        <option value= "<%= genre.id%>">
            <%= genre.name%>
        </option>
        </div>
    <% }); %>
    </select><br><br>
    <p>Actores:</p>
    <select name="actors" multiple>
    
        <% actors.forEach(actor => { %>
    
            <option class="actores" value= "<%= actor.id%>">
                <%=actor.first_name + " " + actor.last_name%>
            </option>
            
        <% }); %>
        </select><br><br>


    <input type="submit" title="Crear">    
 
    </form>
    <div class="boody">
        <h3 class="neon" data-text="DH MOVIES">DH MOVIES</h3>
        </div>
</body>
</html>