<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies-DH</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <header>
    <div class="nav">
    <img class="pop-image" src="/images/pop-neon-2.jpeg" alt="">  
    <nav>
        <div class="menu">
            <div class="links">
                <a href="/">Home</a>
                <a href="/movies/new" class="active">Novedades</a>
                <a href="/movies/create">Crear Película</a>
                <a href="/movies/recommended">Top 8</a>
                <a href="/movies/newPerformance">Nuevas Actuaciones</a>
            </div>
        </div>

    </nav>
    </div>

    </header>
    <h1>Bienvenid@s a Cinema DH Movies!!</h1><br><br>
    <h3><a href="/movies">Listdo de peliculas</a></h3>

    <div class="boody">
    <h3 class="neon" data-text="DH MOVIES">DH MOVIES</h3>
    </div>
</body>
</html>
