<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styleNewPerformance.css">
</head>
<body>
    <header>
        <div class="nav">
            <img class="pop-image" src="/images/pop-neon-2.jpeg" alt="">  
        <nav>
    
            <div class="menu">
                <div class="links">
                    <a href="/">Home</a>
                    <a href="/movies/new" class="active">Novedades</a>
                    <a href="/movies/create">Crear Película</a>
                    <a href="/movies/recommended">Top 8</a>
                    <a href="/movies/newPerformance">Nuevas Actuaciones</a>
                </div>
            </div>
    
        </nav>
        </div>
    
        </header>
<h2>Agregá tu actor favorito a una película</h2>
<form method="POST" action="/movies/newPerformance">
<p>Elegí una película:</p>
<select class="select-movie" name="movie_id">

    <% movies.forEach(movie => { %>

        <option value= "<%= movie.id%>">
            <%=movie.title%>
        </option>
        
    <% }); %>
    </select><br><br>
    <p>Elegí un actor:</p>    
<select class="select-actor" name="actor_id">

    <% actors.forEach(actor => { %>

        <option value= "<%= actor.id%>">
            <%=actor.first_name + " " + actor.last_name%>
        </option>
        
    <% }); %>
</select>
    <input type="submit" title="Crear">
</form>
<div class="boody">
    <h3 class="neon" data-text="DH MOVIES">DH MOVIES</h3>
    </div>
</body>
</html>